* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


 /* regole generali */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


/* regole generali colori */
nav {
    background-color: #2c3e50;
    color: white;
    padding: 1em 0;
}

.color-green {
    background-color: #1abc9c;
    color: white;
}

#generic-info {
    background-color: #3a546d;
    color: white;
}

#copyright {
    background-color: #2c3e50;
    color: white;
}


/* regole nav */
#ms-logo {
    font-weight: 800;
    font-size: 12px;
}

.fa-bars {
    color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 0.2em 0.4em;
    border-radius: 4px;
}
.fa-bars:active {
    color: white;
    border: 1px solid white;
}

.nav-tablet-desktop {
    display: none;
}

/* header */

#avatar {
    margin: 0.8em 0;
    width: 200px;
}

.fa-star {
    width: 100%;
    font-size: 24px;
}

.hr-white {
    border: 2px solid white;
}

#job-duties {
    font-size: 14px;
    margin: 1em 0;
}

/* body */

/* portfolio */
.hr-black {
    border: 2px solid black;
}

h2 {
    font-weight: 600;
    margin: 1em 0 0;
}




/* responsive tablet */
@media screen and (min-width: 780px) {
    .fa-bars {
        display: none;
    }

    .nav-tablet-desktop {
        display: flex;
        justify-content: space-between;
        gap: 0.8em;
        align-items: center;
    }
}

/* responsive tablet */
@media screen and (min-width: 1140px) {
    .fa-bars {
        display: none;
    }

    .nav-tablet-desktop {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
        align-items: center;
    }
}


